-----
----- 注意：本文件需要翻译，新增文字时须在每个语言表中同时添加！
-----
StartStringMap = {
	["chs"] = {
		is_exit_game = "你真的舍得离我而去?",
		init = "游戏初始化",
		get_cdn = "获取资源服务器地址",
		check_md5 = "检查版本更新...",
		update_version = "更新版本库...",
		load_version = "加载版本库...",
		get_package_info = "获取新版本信息...",
		download_package = "下载新版本...",
		confirm_download_package = "检测到新版本，确认更新",
		inquiry_download_package = "检测到新版本，是否更新?",
		download_script = "更新脚本文件...",
		load_script = "解压脚本压缩包，此过程不消耗流量...",
		load_start_resource = "加载初始界面资源...",
		download_error = "网络繁忙，点击\"重试\"继续游戏...",
		confirm = "确认",
		cancel = "取消",
		tips = "提示",
		finish_download_package = "安装包下载完成，将自动安装",
		download_res_package = "下载资源包",
		download_tip = "检测到游戏资源包有更新,大小为%.2fM,是否继续？(建议在wifi环境下更新，土豪随意)",
		unzip_res_package = "解压资源包ing，此过程不消耗流量...",
		examine_tips = "游戏启动中，请稍等...(此过程不会下载或解压任何资源)",
	},

	["cht"] = {
		is_exit_game = "妳真的舍得離我而去?",
		init = "遊戲初始化",
		get_cdn = "獲取資源服務器地址",
		check_md5 = "檢查版本更新...",
		update_version = "更新版本庫...",
		load_version = "加載版本庫...",
		get_package_info = "獲取新版本信息...",
		download_package = "下載新版本...",
		confirm_download_package = "檢測到新版本，確認更新",
		inquiry_download_package = "檢測到新版本，是否更新?",
		download_script = "更新腳本文件...",
		load_script = "解压脚本压缩包，此過程不消耗流量...",
		load_start_resource = "加載初始界面資源...",
		download_error = "網絡繁忙，點擊\"重試\"繼續遊戲...",
		confirm = "確認",
		cancel = "取消",
		tips = "提示",
		finish_download_package = "安裝包下載完成，將自動安裝",
		download_res_package = "下載資源包",
		download_tip = "檢測到遊戲資源包有更新,大小為%.2fM,是否繼續？(建議在wifi環境下更新，土豪隨意)",
		unzip_res_package = "解壓資源包ing，此過程不消耗流量...",
		examine_tips = "遊戲啟動中，請稍等...(此過程不會下載或解壓任何資源)",
	},

	["en"] = {
		is_exit_game = "Are You Willing To Leave Me?",
		init = "Game Initializing",
		get_cdn = "Get Server Address",
		check_md5 = "Check Renewal...",
		update_version = "Update Version Base...",
		load_version = "Loading Version...",
		get_package_info = "Get New Version Info...",
		download_package = "Download New Ver....",
		confirm_download_package = "New Version Available. Update?",
		inquiry_download_package = "New Ver. Update?",
		download_script = " Script Updating...",
		load_script = "Unzipping Script.",
		load_start_resource = "Loading Initial Resources...",
		download_error = "System Busy. Click \"Retry \" To Continue...",
		confirm = "Confirm",
		cancel = "Cancel",
		tips = "Tips",
		finish_download_package = "Package Downloaded. Install Automatically.",
		download_res_package = "download resource package",
		download_tip = "game resources package is updated,the size of%.2fM,do you want to continue?(The proposed update in WiFi environment)",
		unzip_res_package = "unziping resource package, it won't waste your traffic...",
		examine_tips = "Please wait a minute in game startup. (this process will not download or decompress any resources)",
	},

	["thai"] = {
		is_exit_game = " นี่ฌะอจะทิ้งฉันลงจริงๆนะเหรอ?",
		init = "เริ่มต้นค่าเกม",
		get_cdn = " ได้รับที่อยู่ทรัพยากรเซิร์ฟเวอร์",
		check_md5 = " ตรวสอบอัพเดทเวอร์ชั่น...",
		update_version = " อัพเดทฐานเวอร์ชั่น...",
		load_version = " ดาวน์โหลดฐานเวอร์ชั่น...",
		get_package_info = "รับข้อมูลเวอร์ชั่นใหม่... ",
		download_package = "ดาวน์โหลดเวอร์ชั่นใหม่...",
		confirm_download_package = " ตรวจพบเวอร์ชั่นใหม่ กรุณายืนยันอัพเดทv",
		inquiry_download_package = "มีเวอร์ชั่นใหม่ ต้องอัพเดทหรือไม่?",
		download_script = "อัพเดทไฟล์สคริปต์...",
		load_script = " ดาวน์โหลดไฟล์สคริปต์...",
		load_start_resource = "เริ่มดาวน์โหลดทรัพยากรหน้า...",
		download_error = " อินเตอร์เน็ตไม่ว่าง คลิก\"ลองใหม่\"เล่นเกมต่อ...",
		confirm = "ยืนยัน",
		cancel = "ยกเลิก",
		tips = "Tip",
		finish_download_package = " ดาวน์โหลดสำเร็จ จะติดตั้งอัตโนมัติ",
		select_language = "please select language(กรุณาเลือกภาษา)",
		taiwen = "ภาษาไทย",
		english = "English",
		download_res_package = "ดาวน์โหลดแพ็คทรัพยฯ",
		download_tip = "ตรวจพบอัพเดตแพ็คทรัพยฯ ขนาดคือ%.2fM ดำเนินการต่อไหม?(แนะนำใช้WIFIอัพเดต เศรษฐีตามใจ)",
		unzip_res_package = "กำลังแตกไฟล์ทรัพยฯ ขั้นตอนนี้ไม่ใช้Data",
		examine_tips = "Please wait a minute in game startup. (this process will not download or decompress any resources)",
	},

	["wy"] = {
		is_exit_game = "Ngươi muốn bỏ ta mà đi?",
		init = "Khởi tạo game",
		get_cdn = "Địa chỉ server lấy tài nguyên",
		check_md5 = "Kiểm tra cập nhật phiên bản...",
		update_version = "Cập nhật database...",
		load_version = "Tải ...",
		get_package_info = "Nhận thông tin phiên bản mới ...",
		download_package = "Tải bản mới...",
		confirm_download_package = "Kiểm tra phiên bản mới, xác định cập nhật",
		inquiry_download_package = "Kiểm tra bản mới, đồng ý cập nhật?",
		download_script = "Cập nhật file ..",
		load_script = "Tải file script...",
		load_start_resource = "Tài tài nguyên giao diện ban đầu...",
		download_error = "Mạng chậm, Nhấn \"thử lại\" để tiếp tục...",
		confirm = "Xác nhận",
		cancel = "Hủy",
		tips = "Gợi ý",
		finish_download_package = "Tải xong gói cài đặt, chuẩn bị tự động cài",
		download_res_package = "download resource package",
		download_tip = "game resources package is updated,the size of%.2fM,do you want to continue?(The proposed update in WiFi environment)",
		unzip_res_package = "unziping resource package, it won't waste your traffic...",
		examine_tips = "Please wait a minute in game startup. (this process will not download or decompress any resources)",
	},

	["vm"] = {			
		is_exit_game = "Bạn thật sự muốn thoát?",		
		init = "Đang khởi tạo",		
		get_cdn = "Đang nhận server tài nguyên",		
		check_md5 = "Đang kiểm trang phiên bản...",		
		update_version = "Update phiên bản...",		
		load_version = "Tải phiên bản...",		
		get_package_info = "Đang nhận thông tin phiên bản...",		
		download_package = "Tải xuống phiên bản...",		
		confirm_download_package = "Đã tìm thấy phiên bản mới",		
		inquiry_download_package = "Đã tìm thấy phiên bản mới, tiến hành update?",		
		download_script = "Đang update kịch bản...",		
		load_script = "Đang giải nén, không tốn lưu lượng...",		
		load_start_resource = "Tải giao diện tài nguyên...",		
		download_error = "Mạng đang bận, nhấp \"Thử lại\"Tiếp tục...",		
		confirm = "OK",		
		cancel = "Hủy",		
		tips = "Nhắc nhở",		
		finish_download_package = "Đã tải gói mới, đang cài đặt",		
		download_res_package = "Tải gói tài nguyên",		
		download_tip = "Tìm thấy gói tài nguyên, size %.2fM,xác nhận tiếp tục? (kiến nghị dùng wifi tải)",		
		unzip_res_package = "Đang giải nén gói, không tốn lưu lượng...",		
		examine_tips = "Game đang mở, vui lòng đợi...(quá trình này không tải và giải nén gói)",		
	},				
}
