
StartConfig = 
{
    --打包类型：tiny 0, mini 1, middle 2, all 3,
    PackageType = 3,    

    --大陆简体dl_chs, 港澳台繁体gt_cht, 新马简体xm_chs
	DistrictLanguage = "dl_chs",

	--测试模式
	IsTest = false,

	--本地资源
	IsLocalRes = "false",

	--显示FPS，DrawCall
	IsDisplayStats = "false",

    --是否手动创建logo(资源更新界面)
    IsManualLogo = false,

    --是否跳过CP闪屏
    SkipLogo = "true",

	--是否跳过app版本更新
	SkipAppVerUpdate = "false",

	--显示LUA报错弹窗
	LuaErrorViewToggle = "false",

	--调用CallPlatApi的开关
	CallPlatAPIToggle = true,

	--热云统计参数
	StatisticsURL = "http://log.reyun.com",
	StatisticsAppID = "3ede176d2accd8fda533b45d4726da28",
	
	-----------------------------------------------------------------
	--版本信息配置
	-----------------------------------------------------------------
	VersionURL = "http://114.67.180.177/skfb/nnsbt/version/callback",

	-----------------------------------------------------------------
	--安装包信息配置
	-----------------------------------------------------------------
	PackageInfo = "http://114.67.180.177:8080/skfb/nnsbt/packageinfo",

	-----------------------------------------------------------------
	--服务器配置
	-----------------------------------------------------------------
	ServerConfig = "http://114.67.180.177:8080/skfb/nnsbt/server_config",		

	-----------------------------------------------------------------
	--服务器列表:
	-----------------------------------------------------------------	
	ServerListURL = "http://114.67.180.177:8080/skfb/nnsbt/server_list",
}