<?xml version="1.0" encoding="utf-8"?>
<!-- package name --><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.szba.skfb.quickpp"
      android:versionCode="100"
      android:versionName="1.0.0">
    
    <application android:name="com.szba.skfb.quickpp.SkyxApplication" android:label="@string/app_name" android:icon="@drawable/ic_launcher">
		<!-- 闪屏 -->		
        <activity
            android:name="com.szba.skfb.quickpp.SkyxSplashActivity"
			android:launchMode="singleTop"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	
		<!-- 游戏 -->
        <activity android:name="com.szba.skfb.quickpp.Skyx"
                  android:label="@string/app_name"
                  android:screenOrientation="sensorLandscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
		
		<meta-data android:name="APP_KEY" android:value="" />
        <meta-data android:name="APP_ID" android:value="" />
        <meta-data android:name="SDK_VERSION" android:value="1" />
        <meta-data android:name="CHANNEL_ID" android:value="" />
        <meta-data android:name="CHANNEL_ID_EX" android:value="" />
        <meta-data android:name="SDK_NAME" android:value="QuickSDK" />
        <meta-data android:name="IS_THIRD_ACCOUNT_PLAT" android:value="true" />
        <meta-data android:name="PHP_TD_ORDER_URL" android:value="" />
        <meta-data android:name="PHP_TD_NOTIFY_URL" android:value=""/>
        <meta-data android:name="START_IMAGE_PATH" android:value=""/>
		<meta-data android:name="android.app.lib_name" android:value="skyx" />
        <meta-data android:name="android.max_aspect" android:value="2.1" />
		
        <!-- custom push -->
        <!--用户自定义的广播接收器-->
        <receiver
            android:name="com.kuyue.pushsdk.PushMessageReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
        <service  android:name="com.kuyue.pushsdk.MsgPushServiceLocal" android:exported="true" android:process=":push_service_local" />
        <!-- push end -->

		<!-- ###################注册SDK使用的Activity###################### -->

        <!-- ###################注册SDK使用的Activity###################### -->
	</application>
	
    <uses-sdk 
            android:minSdkVersion="14" 
            android:targetSdkVersion="19"/>
	
    <supports-screens android:anyDensity="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"/>

    <!-- 权限配置 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- files -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- push -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
</manifest> 
