<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>START_IMAGE_PATH</key>
	<string></string>
	<key>APP_ID</key>
	<string></string>
	<key>APP_KEY</key>
	<string></string>
	<key>CHANNEL_ID</key>
	<string>0</string>
	<key>CHANNEL_ID_EX</key>
	<string>0</string>
	<key>SDK_VERSION</key>
	<string>1.0</string>
	<key>SDK_NAME</key>
	<string>QuickSDK</string>
	<key>IS_THIRD_ACCOUNT_PLAT</key>
	<true/>
	<key>PHP_TD_ORDER_URL</key>
	<string></string>
	<key>PHP_TD_NOTIFY_URL</key>
	<string></string>
	<key>EXIT_INFO</key>
	<string>信息</string>
	<key>EXIT_OK</key>
	<string>确定</string>
	<key>EXIT_CANCEL</key>
	<string>取消</string>
	<key>BAD_NETWORK</key>
	<string>无法连接网络，请设置</string>
	<key>SETTING</key>
	<string>设置</string>
	<key>CANCEL</key>
	<string>取消</string>
</dict>
</plist>
