<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
<head>
    <meta http-equiv="Content-Type">
    <meta content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>养成好习惯  做个好员工</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <style>
        body {
            margin: 0;
            font-size: 14px;
            line-height: 22px;
            color: #333;
            background-color: #fff;
            /*background: url(/img/beijing3.jpg) no-repeat center center fixed;
            background-size: cover;*/
        }
        p {
            line-height: 25px;
            margin: 0;
        }
        .pd10 {
            padding: 10px
        }
        .bgcolor {
            background-color: #F4F0E3;
        }
        .bgeee {
            background-color: #eeeeee;
            border-bottom: 1px solid #ffffff;
        }
        .tin {
            text-indent: 28px;
        }
        span {
            font-weight: bold;
        }
        .qy {
            text-align: center;
            margin: 10px;
        }
        dl {
            clear: left;overflow:hidden;margin:0;
        }
        dt{ width:25%; font-weight:bold;}
        dd{width:75%;}
        dt, dd {
            float: left; margin:0 0 5px 0;
        }
        .divt{ position:relative; margin-bottom:10px; text-align:center; width:100%;}
        .divt .title{position:relative; color:#Fff; background-color:#F90; padding:5px 10px; border-radius:5px; z-index:10;}
        .divt::after{ position:absolute;left:0; height:1px; content:""; width:100%; background-color:#F90;top:10px;z-index:1;}
        .step  label{ color:#F00; font-weight:bold;}
        .label{ color:#F00; font-weight:bold;}



    </style>
</head>
<body>
<div style="overflow:hidden;">
    <img src="/img/branne.jpg" width="100%" style="float:left;">
</div>
<div class=" pd10" style="text-align:center; line-height:25px; font-size:16px; ">
    富强、民主、文明、和谐<br/>
    自由、平等、公正、法治<br/>
    爱国、敬业、诚信、友善<br/>
</div>
<div class="pd10 tin"> <b>为将社会主义核心价值观与日常工作生活紧密联系，在落细、落小、
        落实上下功夫，促进员工养成良好习惯，南方电网公司开展“落实社会主义核心价值观——员工好习惯养成”积分排名大PK活动。</b> </div>
<div class="pd10  " style="">
    <div class="divt"><span class="title">活动详情</span></div>
    <dl>
        <dt>活动时间：</dt>
        <dd><span class="label">2015年12月2日——2016年1月30日</span></dd>
    </dl>
    <dl>
        <dt>活动奖励：</dt>
        <dd>本次活动将从全网积分排名前200名的员工中抽取“好习惯优秀奖”和“幸运参与奖”各若干名，分别奖励价值300元和100元的进精美奖品，排名越靠前获奖几率越大！</dd>
    </dl>
    <dl>
        <dt>参与方式：</dt>
        <dd>进入本单位“<span class="label">幸福南网</span>”微信平台，点击“<span class="label">幸福家园</span>”后再点击“<span class="label">好习惯</span>”，即可开始。（详情见下文）</dd>
    </dl>
</div>
<div class="qy"> <div class="divt"><span class="title">前言</span></div>
    习惯如同飞驰的列车<br/>
    惯性使人无法停步地冲向前方<br/>
    而前方可能是天堂，也可能是深谷<br/>
    习惯就是你的方向盘<br/>
    <br/>
    行为心理学告诉我们<br/>
    一个动作或想法如果重复21天，<br/>
    就有可能成为一个习惯！这是真的！<br/>
    现在<br/>
    就用21天来养成一个受益终身的好习惯吧！<br/>
    你要建立的习惯可以足够小——<br/>
    比如读书、听音乐、练习书法<br/>
    或者健身、做义工、陪伴孩子——<br/>
    关键，是要马上行动<br/>
    <br/>
    邀请一个和你共同进步，同甘共苦的搭档<br/>
    互帮互助，共同监督<br/>
    坚持一次又一次的“七天”<br/>
    直到好习惯悄然而至……<br/>
    <br/>
</div>
<div class="pd10">
    <div class="divt"><span class="title">“好习惯”使用指引</span></div>
    <div class="step">
        步骤一：进入。打开“<label>幸福南网</label>”微信号，点击“<label>幸福家园</label>”-“<label>好习惯</label>”。<br/><br/>
        步骤二：<span>建立习惯</span>。选择1个习惯小组，描述自己的具体目标（如：每天坚持陪爸妈聊天20分钟、每天早上班10分钟进行工作计划等），点击“<span>确定</span>”。<br/>
        <img src="/img/1.jpg" width="100%"><br/><br/>
        步骤三：<span>邀请好友参与</span>。点击右上角“…”,将邀请函发送给已实名绑定“幸福南网”微信号的微信好友,邀其一起参与活动，实现目标。<br/>
        <img src="/img/2.jpg" width="80%" style="margin:0 auto"><br/><br/>
        步骤四：<span>好友接受邀请</span>。被邀请人收到邀请，长按邀请码并选择复制，然后打开“幸福南网”微信号，进入“好习惯”，选择“接受邀请”，输入邀请码并确认，成为你的好习惯搭档。<br/>
        <img src="/img/3.jpg" width="100%"><br/><br/>
        步骤五：<span>一起养成好习惯</span>。每天与搭档互相监督提醒，一起完成设定的目标，并坚持签到。
        （一定要记得提醒你的搭档签到哦！任意一人中断则<span>任务暂停，只能获得每天的基本积分哦！</span>）
        <img src="/img/4.jpg" width="80%"><br/>
    </div>
</div>
<div class="pd10">
    <div class="divt"><span class="title">积分规则</span></div>
    参与本次活动的搭档双方都将获得基本积分和奖励积分（为专有积分，不计入“幸福南网”的幸福积分）。<br/><br/>
    <span>基本积分：</span>每签到1次可点亮1盏灯笼，得10分；<br/>
    <span>奖励积分：</span>一个习惯的养成需要21天！分成3个7天周期。搭档两人连续7天签到，点亮各自的7盏灯笼，可换得1颗星星勋章，获得奖励积分。<br/>
    1）	获得第1颗星，奖励140分；<br/>
    2）	获得第2颗星，奖励280分；<br/>
    3）	获得第3颗星，奖励420分。<br/><br/>
    <div style="text-align:center; color:#F00;">特别强调：如果七天中中断签到，则只获得每天基本积分。</div><br/>
</div>
</body>
</html>
