<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>文章管理</title>
		<meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
		<meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

		<link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/Admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/animate.min.css" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">
		<style>
		  th{
			text-align: center;
			}
		</style>		
	</head>

	<body class="gray-bg">		
		
 <div class="wrapper wrapper-content animated fadeInUp">
		
		<form method="post" align ='text-align:center'>
			<div class="row">
				<div class="col-sm-12">
						<h1>导出成功!!!</h1>
						<a href="http://192.168.1.222/skyx/temp_file/{$file_name}" class="btn btn-white btn-sm" style="background-color: #2a62bc;color: #FFF;" download="{$file_name}">下载文件</a>	
						<br><br>
						<a href="http://192.168.1.222/skyx/temp_file/{$file_name}" class="btn btn-white btn-sm" style="background-color: #2a62bc;color: #FFF;" >打开文件</a>	
						<br><br>
						<a href="{:U('Admin/ActivationCode/index')}" class="btn btn-white btn-sm" style="background-color: #2a62bc;color: #FFF;">返回生成界面</a>
					</div>
				</div>
			</div>	
		</form>			
		
		<script src="__PUBLIC__/Admin/js/jquery.min.js?v=2.1.4"></script>
		<script src="__PUBLIC__/Admin/js/bootstrap.min.js?v=3.3.6"></script>
		<script src="__PUBLIC__/Admin/js/content.min.js?v=1.0.0"></script>
		<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
	</body>
	
</html>
